node_modules
dist/
# Keep environment variables out of version control
.env

/generated/prisma
# accidental nested generate
generated/generated/

# Windows reserved device name (created accidentally)
nul
